$color_black: #191C1F;
$color_grey_dark: #5E646A;
$color_grey: #83898F;
$color_grey_mid: #C2C8CD;
$color_grey_light: #ECEFF2;
$color_grey_extralight: #F6F8FA;
$color_white: #FFFFFF;

$color_red_danger: #F13636;
$color_green_success: #25CD82;

$color_blue_disabled: #ABCAE6;
$color_blue_hover: #397DFF;
$color_blue_primary: #2A6CEA;

$font_size_h1: 52px;
$font_size_h2: 40px;
$font_size_h3: 32px;
$font_size_h4: 24px;
$font_size_h5: 20px;
$font_size_h6: 16px;

$font_size_p12: 12px;
$font_size_p14: 14px;
$font_size_p16: 16px;
$font_size_p18: 18px;

$font_weight_bold: 600;