@import "default_variables";

.fact {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 18%;
    margin: 3%;

    .fact-img {
        width: 72px;
        height: 72px;
    }

    .fact-text {

        .fact-text-h4 {
            font-weight: $font_weight_bold;
            font-size: $font_size_p16;
            line-height: 24px;
        }

        .fact-text-p {
            font-size: $font_size_p14;
            line-height: 24px;
        }
    }
}

@media (max-width: 1000px) {
    .fact {
        width: 40%;
        flex-direction: row;

        .fact-text {
            margin-left: 5%;
        }
    }
}

@media (max-width: 500px) {
    .fact {
        width: 80%;
        margin-bottom: 10%;
        flex-direction: row;

        .fact-text {
            margin-left: 5%;
        }
    }
}