@import "default_variables";

#form-section {
    width: 100vw;
    padding-top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

    #form-h1 {
        font-weight: $font_weight_bold;
        font-size: $font_size_h2;
        color: $color_black;
        margin-top: 3%;
    }

    #form-container {
        width: 950px;
        max-width: 95%;
        padding: 3%;
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 2.5%;

        .form-input-wrapper .form-input-text,
        .form-input-submit {
            border: none;
            border-radius: 4px;
        }

        .form-input-wrapper,
        .form-input-submit {
            width: 47.5%;
            height: 64px;
            margin-bottom: 5%;
        }

        .form-input-wrapper {
            position: relative;

            .form-input-text {
                background-color: $color_grey_extralight;
                font-size: $font_size_p18;
                line-height: 32px;
                width: 100%;
                height: 100%;

                box-sizing: border-box;

                padding-left: 5%;
                padding-top: 7.5%;

                color: $color_black;

                outline: 2px solid transparent;
                transition: all 0.3s ease;
            }

            .form-input-text-label {
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;

                font-size: $font_size_p18;
                color: $color_grey_dark;

                transition: all 0.3s ease;
            }

            .form-input-text:focus+.form-input-text-label,
            .form-input-text:not(:placeholder-shown)+.form-input-text-label {
                top: 35%;
                font-size: $font_size_p14;
                color: $color_grey;
            }

            .form-input-text:focus,
            .form-input-text:not(:placeholder-shown) {
                background-color: $color_white;
            }

            .form-input-text:focus {
                outline: 2px solid $color_grey_mid;
            }

            .form-input-text:valid:not(:focus) {
                outline: 2px solid $color_grey_light;
            }

            .form-input-text:invalid:not(:focus):not(:placeholder-shown) {
                outline: 2px solid $color_red_danger;
            }

            .form-input-text-img-check,
            .form-input-text-img-cancel {
                opacity: 0;
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
                transition: opacity 0.3s ease;
            }

            .form-input-text:valid:not(:focus):not(:placeholder-shown)~.form-input-text-img-check {
                opacity: 1;
            }

            .form-input-text:invalid:not(:focus):not(:placeholder-shown)~.form-input-text-img-cancel {
                opacity: 1;
            }

            .form-input-text-helper-idle,
            .form-input-text-helper-invalid {
                position: absolute;

                font-size: $font_size_p12;
                line-height: 16px;

                bottom: -35%;

                transition: all 0.3s ease;
            }

            .form-input-text-helper-idle {
                color: $color_grey;
            }

            .form-input-text-helper-invalid {
                opacity: 0;
                color: $color_red_danger;
            }

            .form-input-text:focus~.form-input-text-helper-idle,
            .form-input-text:not(:placeholder-shown)~.form-input-text-helper-idle {
                opacity: 0;
            }

            .form-input-text:invalid:not(:focus):not(:placeholder-shown)~.form-input-text-helper-invalid {
                opacity: 1;
            }

            .form-input-checkbox {
                z-index: -1;
                opacity: 0;
                //width: 24px;
                //height: 24px;
                //border: 2px solid rgb(194, 200, 205);
                //border-radius: 4px;
                //margin-bottom: 3.5%;
            }

            .form-input-checkbox-label {
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                top: 0px;
                left: 0px;
                width: 24px;
                height: 24px;
                border: 2px solid $color_grey_mid;
                border-radius: 4px;
                background-color: $color_white;
                cursor: pointer;

                transition: all 0.15s ease;
            }

            .form-input-checkbox:checked+.form-input-checkbox-label {
                background-color: $color_blue_primary;
                border-color: $color_blue_primary;
            }

            .form-input-checkbox-text {
                position: absolute;

                left: 48px;
                top: 0px;

                font-size: 16px;
                line-height: 28px;

                user-select: none;
            }
        }

        .form-input-submit {
            background-color: $color_blue_primary;
            font-weight: $font_weight_bold;
            font-size: $font_size_h5;
            line-height: 24px;
            color: $color_white;
            cursor: pointer;

            transition: background-color 0.3s ease;
        }

        .form-input-submit:disabled {
            background-color: $color_grey_light;
            cursor: not-allowed;
        }

        .form-input-submit:hover {
            background-color: $color_blue_hover;
        }
    }
}

@media (max-width: 760px) {

    #form-section {
        #form-h1 {
            font-size: $font_size_h4;
        }

        #form-container {
            padding: 5%;

            .form-input-wrapper,
            .form-input-submit {
                width: 95%;
                margin-bottom: 10%;
            }

            .form-input-wrapper {

                .form-input-text {
                    padding-top: 5%;
                }
            }
        }
    }
}