@import "default_variables";

.info-card {
    width: 40%;

    padding: 2%;

    display: flex;
    flex-direction: column;

    .info-card-header {
        font-weight: $font_weight_bold;
        font-size: $font_size_p18;
        line-height: 32px;
        color: $color_black;
    }

    .info-card-text {
        margin-top: 3%;
        font-size: $font_size_p16;
        line-height: 20px;
        color: $color_black;
    }
}

@media (max-width: 820px) {
    .info-card {
        width: 80%;

        .info-card-text {
            margin-top: 7.5%;
        }
    }
}